dist
worker
.solid
.output
.vercel
.netlify

# dependencies
/node_modules
public/assets
public/index.html
# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

.env
src/views