node_modules/
.vercel
.env
build
.svelte-kit
pnpm*
static/*.json
.verce*
*.sqlite*
Pipfile*
server/migration/content
server/migration/data
static/upload/*
.obsidian
.vscode
*.log
.idea
.DS_STORE
.cache
.temp
dist/