.sidebar-container {
  background: #1f1f1f;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Muller';
  @include font-size(1.6rem);
  top: 0;

  p {
    color: var(--foreground);
  }
}

.sidebar-off {
  background: var(--foreground) 19;
  padding: 20px;
  top: 0;
  overflow-y: auto;
  scrollbar-width: none;
  width: 350px;

  ::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-label {
  color: var(--foreground) 7f;
  > i {
    text-transform: none;
  }
}

.sidebar-sub {
  margin: 10px 0;
  margin-bottom: 30px;
}
.sidebar-container button,
.sidebar-container a,
.sidebar-item {
  text-align: left;
  margin: 0;
  outline: none;
  display: flex;
  align-items: center;
  line-height: 24px;
  font-family: 'Muller';
  text-align: left;
}

.sidebar-container a,
.sidebar-item {
  font-size: 18px;
  padding: 2px 0;
  width: 100%;
}

.sidebar-container {
  h4 {
    margin-left: 1rem;
  }

  button {
    height: auto;
    min-height: 50px;
    padding: 0 1rem;
    width: 100%;
  }
}

.sidebar-link {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  justify-content: flex-start;

  &:hover {
    color: #fff !important;
  }

  &:active {
    > span i {
      position: relative;
      box-shadow: none;
      top: 1px;
    }
  }

  &[disabled] {
    color: var(--foreground) 99;
    cursor: not-allowed;
  }

  &.file {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.4;
    margin: 0 0 1em 1.5em;
    width: calc(100% - 2rem);

    &:hover {
      background: none;
    }
  }

  > span {
    justify-self: flex-end;
    margin-left: auto;

    > i {
      border: 1px solid;
      border-bottom-width: 2px;
      border-radius: 0.2rem;
      display: inline-block;
      color: inherit;
      font-size: 13px;
      line-height: 1.4;
      margin: 0 0.5em 0 0;
      padding: 1px 4px;

      &:last-child {
        text-transform: uppercase;
      }
    }
  }
}

.theme-switcher {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1em 0;

  input[type='checkbox'] {
    opacity: 0;
    position: absolute;

    + label {
      background: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.20869 7.73227C5.22953 7.36499 4.38795 6.70402 3.79906 5.83976C3.2103 4.97565 2.90318 3.95064 2.91979 2.90512C2.93639 1.8597 3.27597 0.844915 3.8919 0C2.82862 0.254038 1.87585 0.844877 1.17594 1.68438C0.475894 2.52388 0.0660276 3.5671 0.00731938 4.6585C-0.0513888 5.74989 0.244296 6.83095 0.850296 7.74073C1.45631 8.65037 2.34006 9.33992 3.36994 9.70637C4.39987 10.073 5.52063 10.0969 6.56523 9.77466C7.60985 9.45247 8.52223 8.80134 9.16667 7.91837C8.1842 8.15404 7.15363 8.08912 6.20869 7.73205V7.73227Z' fill='white'/%3E%3C/svg%3E%0A")
          no-repeat 30px 9px,
        url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41196 0H5.58811V2.43024H6.41196V0ZM5.99988 8.96576C4.36601 8.96576 3.03419 7.63397 3.03419 6.00007C3.04792 4.3662 4.36598 3.04818 5.99988 3.03439C7.63375 3.03439 8.96557 4.3662 8.96557 6.00007C8.96557 7.63395 7.63375 8.96576 5.99988 8.96576ZM5.58811 9.56977H6.41196V12H5.58811V9.56977ZM12.0002 5.58811H9.56996V6.41196H12.0002V5.58811ZM0 5.58811H2.43024V6.41196H0V5.58811ZM8.81339 3.76727L10.5318 2.04891L9.94925 1.46641L8.23089 3.18477L8.81339 3.76727ZM3.7745 8.8129L2.05614 10.5313L1.47364 9.94877L3.192 8.2304L3.7745 8.8129ZM9.95043 10.5269L10.5329 9.94437L8.81456 8.22601L8.23207 8.80851L9.95043 10.5269ZM3.76864 3.18731L3.18614 3.76981L1.46778 2.05145L2.05028 1.46895L3.76864 3.18731Z' fill='%231F1F1F'/%3E%3C/svg%3E%0A")
          #000 no-repeat 8px 8px;
      border-radius: 14px;
      cursor: pointer;
      display: block;
      height: 28px;
      line-height: 10em;
      overflow: hidden;
      position: relative;
      transition: background-color 0.3s;
      width: 46px;

      &:before {
        background-color: #fff;
        border-radius: 100%;
        content: '';
        height: 16px;
        left: 6px;
        position: absolute;
        top: 6px;
        transition: left 0.3s, color 0.3s;
        width: 16px;
      }
    }

    &:checked + label {
      background-color: #fff;

      &:before {
        background-color: #1f1f1f;
        left: 24px;
      }
    }
  }
}
