
  h3::first-letter {
    text-transform: capitalize;
  }
  .all-materials {
    align-self: baseline;
    margin-bottom: 1em;
    white-space: nowrap;

    a {
      border: none;
    }

    @include media-breakpoint-up(sm) {
      text-align: right;
    }

    :global(.icon) {
      display: inline-block;
      height: 0.8em;
      vertical-align: middle;
      width: 0.8em;
    }

    :global(img) {
      vertical-align: top;
    }
  }