.resetpage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
